Repository PyLav/PyLav, pull requests merged in 2022-10, with the labels that each got.

#60 New Crowdin translations by Github Action
  pylav/converters/locales/de-DE.po
  pylav/filters/locales/de-DE.po
  pylav/locales/de-DE.po
  pylav/localfiles/locales/de-DE.po
  pylav/m3u8_parser/locales/de-DE.po
  pylav/migrations/locales/de-DE.po
  pylav/radio/locales/de-DE.po
  pylav/sql/clients/locales/de-DE.po
  pylav/sql/locales/de-DE.po
  pylav/utils/locales/de-DE.po
  pylav/vendored/aiopath/aiopath_310/locales/de-DE.po
  pylav/vendored/aiopath/locales/de-DE.po
  pylav/vendored/locales/de-DE.po
Labels: automerge, translations, i18n

#66 Change raw requies to ORM where it makes sense to
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  pylav/__init__.py
  pylav/_logging.py
  pylav/client.py
  pylav/node.py
  pylav/node_manager.py
  pylav/query.py
  pylav/sql/__init__.py
  pylav/sql/aiohttp_postgres_cache.py
  pylav/sql/clients/__init__.py
  pylav/sql/clients/equalizer_manager.py
  pylav/sql/clients/lib.py
  pylav/sql/clients/nodes_db_manager.py
  pylav/sql/clients/player_state_db_manager.py
  pylav/sql/clients/playlist_manager.py
  pylav/sql/clients/query_manager.py
  pylav/sql/clients/updater.py
  pylav/sql/models.py
  pylav/sql/tables.py
  pylav/sql/tables/__init__.py
  pylav/sql/tables/bot.py
  pylav/sql/tables/cache.py
  pylav/sql/tables/equalizers.py
  pylav/sql/tables/init.py
  pylav/sql/tables/lib_config.py
  pylav/sql/tables/nodes.py
  pylav/sql/tables/player_states.py
  pylav/sql/tables/players.py
  pylav/sql/tables/playlists.py
  pylav/sql/tables/queries.py
  pylav/utils/__init__.py
  pylav/utils/built_in_node.py
  setup.cfg
  setup.py
Labels: enhancement

#69 New Crowdin translations by Github Action
  pylav/locales/bg-BG.po
  pylav/locales/cs-CZ.po
  pylav/locales/da-DK.po
  pylav/locales/de-DE.po
  pylav/locales/el-GR.po
  pylav/locales/es-ES.po
  pylav/locales/fi-FI.po
  pylav/locales/fr-FR.po
  pylav/locales/hi-IN.po
  pylav/locales/hr-HR.po
  pylav/locales/hu-HU.po
  pylav/locales/it-IT.po
  pylav/locales/ja-JP.po
  pylav/locales/ko-KR.po
  pylav/locales/lt-LT.po
  pylav/locales/nb-NO.po
  pylav/locales/nl-NL.po
  pylav/locales/pl-PL.po
  pylav/locales/pt-BR.po
  pylav/locales/ro-RO.po
  pylav/locales/ru-RU.po
  pylav/locales/sv-SE.po
  pylav/locales/th-TH.po
  pylav/locales/tr-TR.po
  pylav/locales/uk-UA.po
  pylav/locales/vi-VN.po
  pylav/locales/zh-CN.po
  pylav/locales/zh-TW.po
  pylav/utils/locales/bg-BG.po
  pylav/utils/locales/cs-CZ.po
  pylav/utils/locales/da-DK.po
  pylav/utils/locales/de-DE.po
  pylav/utils/locales/el-GR.po
  pylav/utils/locales/es-ES.po
  pylav/utils/locales/fi-FI.po
  pylav/utils/locales/fr-FR.po
  pylav/utils/locales/hi-IN.po
  pylav/utils/locales/hr-HR.po
  pylav/utils/locales/hu-HU.po
  pylav/utils/locales/it-IT.po
  pylav/utils/locales/ja-JP.po
  pylav/utils/locales/ko-KR.po
  pylav/utils/locales/lt-LT.po
  pylav/utils/locales/nb-NO.po
  pylav/utils/locales/nl-NL.po
  pylav/utils/locales/pl-PL.po
  pylav/utils/locales/pt-BR.po
  pylav/utils/locales/ro-RO.po
  pylav/utils/locales/ru-RU.po
  pylav/utils/locales/sv-SE.po
  pylav/utils/locales/th-TH.po
  pylav/utils/locales/tr-TR.po
  pylav/utils/locales/uk-UA.po
  pylav/utils/locales/vi-VN.po
  pylav/utils/locales/zh-CN.po
  pylav/utils/locales/zh-TW.po
Labels: automerge, translations, i18n

#70 New Crowdin translations by Github Action
  pylav/locales/bg-BG.po
  pylav/locales/cs-CZ.po
  pylav/locales/da-DK.po
  pylav/locales/de-DE.po
  pylav/locales/el-GR.po
  pylav/locales/es-ES.po
  pylav/locales/fi-FI.po
  pylav/locales/fr-FR.po
  pylav/locales/hi-IN.po
  pylav/locales/hr-HR.po
  pylav/locales/hu-HU.po
  pylav/locales/it-IT.po
  pylav/locales/ja-JP.po
  pylav/locales/ko-KR.po
  pylav/locales/lt-LT.po
  pylav/locales/nb-NO.po
  pylav/locales/nl-NL.po
  pylav/locales/pl-PL.po
  pylav/locales/pt-BR.po
  pylav/locales/ro-RO.po
  pylav/locales/ru-RU.po
  pylav/locales/sv-SE.po
  pylav/locales/th-TH.po
  pylav/locales/tr-TR.po
  pylav/locales/uk-UA.po
  pylav/locales/vi-VN.po
  pylav/locales/zh-CN.po
  pylav/locales/zh-TW.po
Labels: automerge, translations, i18n

#75 [patch]Refactor migration code, fix plugin migration, auto update plugin
  pylav/__init__.py
  pylav/config_migrations/__init__.py
  pylav/config_migrations/m0002.py
  pylav/config_migrations/m01050.py
  pylav/config_migrations/m01130.py
  pylav/config_migrations/m0320.py
  pylav/config_migrations/m0330.py
  pylav/config_migrations/m0340.py
  pylav/config_migrations/m0350.py
  pylav/config_migrations/m0360.py
  pylav/config_migrations/m0760.py
  pylav/config_migrations/m0850.py
  pylav/config_migrations/m0880.py
  pylav/config_migrations/m0920.py
  pylav/config_migrations/set_current_version.py
  pylav/config_migrations/update_plugins.py
  pylav/sql/clients/updater.py
Labels: enhancement

#77 New Crowdin translations by Github Action
  pylav/config_migrations/locales/bg-BG.po
  pylav/config_migrations/locales/cs-CZ.po
  pylav/config_migrations/locales/da-DK.po
  pylav/config_migrations/locales/de-DE.po
  pylav/config_migrations/locales/el-GR.po
  pylav/config_migrations/locales/es-ES.po
  pylav/config_migrations/locales/fi-FI.po
  pylav/config_migrations/locales/fr-FR.po
  pylav/config_migrations/locales/hi-IN.po
  pylav/config_migrations/locales/hr-HR.po
  pylav/config_migrations/locales/hu-HU.po
  pylav/config_migrations/locales/it-IT.po
  pylav/config_migrations/locales/ja-JP.po
  pylav/config_migrations/locales/ko-KR.po
  pylav/config_migrations/locales/lt-LT.po
  pylav/config_migrations/locales/nb-NO.po
  pylav/config_migrations/locales/nl-NL.po
  pylav/config_migrations/locales/pl-PL.po
  pylav/config_migrations/locales/pt-BR.po
  pylav/config_migrations/locales/ro-RO.po
  pylav/config_migrations/locales/ru-RU.po
  pylav/config_migrations/locales/sv-SE.po
  pylav/config_migrations/locales/th-TH.po
  pylav/config_migrations/locales/tr-TR.po
  pylav/config_migrations/locales/uk-UA.po
  pylav/config_migrations/locales/vi-VN.po
  pylav/config_migrations/locales/zh-CN.po
  pylav/config_migrations/locales/zh-TW.po
Labels: automerge, translations, i18n

#80 [patch] TypeError: 'JSONB' object is not subscriptable
  pylav/sql/models.py
Labels: bug

#82 [patch] certified typo moment
  pylav/config_migrations/m0340.py
Labels: hacktoberfest-accepted

#83 New Crowdin translations by Github Action
  pylav/sql/locales/bg-BG.po
  pylav/sql/locales/cs-CZ.po
  pylav/sql/locales/da-DK.po
  pylav/sql/locales/de-DE.po
  pylav/sql/locales/el-GR.po
  pylav/sql/locales/es-ES.po
  pylav/sql/locales/fi-FI.po
  pylav/sql/locales/fr-FR.po
  pylav/sql/locales/hi-IN.po
  pylav/sql/locales/hr-HR.po
  pylav/sql/locales/hu-HU.po
  pylav/sql/locales/it-IT.po
  pylav/sql/locales/ja-JP.po
  pylav/sql/locales/ko-KR.po
  pylav/sql/locales/lt-LT.po
  pylav/sql/locales/nb-NO.po
  pylav/sql/locales/nl-NL.po
  pylav/sql/locales/pl-PL.po
  pylav/sql/locales/pt-BR.po
  pylav/sql/locales/ro-RO.po
  pylav/sql/locales/ru-RU.po
  pylav/sql/locales/sv-SE.po
  pylav/sql/locales/th-TH.po
  pylav/sql/locales/tr-TR.po
  pylav/sql/locales/uk-UA.po
  pylav/sql/locales/vi-VN.po
  pylav/sql/locales/zh-CN.po
  pylav/sql/locales/zh-TW.po
Labels: automerge, translations, i18n

#90 New Crowdin translations by Github Action
  pylav/locales/bg-BG.po
  pylav/locales/cs-CZ.po
  pylav/locales/da-DK.po
  pylav/locales/de-DE.po
  pylav/locales/el-GR.po
  pylav/locales/es-ES.po
  pylav/locales/fi-FI.po
  pylav/locales/fr-FR.po
  pylav/locales/hi-IN.po
  pylav/locales/hr-HR.po
  pylav/locales/hu-HU.po
  pylav/locales/it-IT.po
  pylav/locales/ja-JP.po
  pylav/locales/ko-KR.po
  pylav/locales/lt-LT.po
  pylav/locales/nb-NO.po
  pylav/locales/nl-NL.po
  pylav/locales/pl-PL.po
  pylav/locales/pt-BR.po
  pylav/locales/ro-RO.po
  pylav/locales/ru-RU.po
  pylav/locales/sv-SE.po
  pylav/locales/th-TH.po
  pylav/locales/tr-TR.po
  pylav/locales/uk-UA.po
  pylav/locales/vi-VN.po
  pylav/locales/zh-CN.po
  pylav/locales/zh-TW.po
  pylav/localfiles/locales/bg-BG.po
  pylav/localfiles/locales/cs-CZ.po
  pylav/localfiles/locales/da-DK.po
  pylav/localfiles/locales/de-DE.po
  pylav/localfiles/locales/el-GR.po
  pylav/localfiles/locales/es-ES.po
  pylav/localfiles/locales/fi-FI.po
  pylav/localfiles/locales/fr-FR.po
  pylav/localfiles/locales/hi-IN.po
  pylav/localfiles/locales/hr-HR.po
  pylav/localfiles/locales/hu-HU.po
  pylav/localfiles/locales/it-IT.po
  pylav/localfiles/locales/ja-JP.po
  pylav/localfiles/locales/ko-KR.po
  pylav/localfiles/locales/lt-LT.po
  pylav/localfiles/locales/nb-NO.po
  pylav/localfiles/locales/nl-NL.po
  pylav/localfiles/locales/pl-PL.po
  pylav/localfiles/locales/pt-BR.po
  pylav/localfiles/locales/ro-RO.po
  pylav/localfiles/locales/ru-RU.po
  pylav/localfiles/locales/sv-SE.po
  pylav/localfiles/locales/th-TH.po
  pylav/localfiles/locales/tr-TR.po
  pylav/localfiles/locales/uk-UA.po
  pylav/localfiles/locales/vi-VN.po
  pylav/localfiles/locales/zh-CN.po
  pylav/localfiles/locales/zh-TW.po
Labels: automerge, translations, i18n

#91 New Crowdin translations by Github Action
  pylav/locales/bg-BG.po
  pylav/locales/cs-CZ.po
  pylav/locales/da-DK.po
  pylav/locales/de-DE.po
  pylav/locales/el-GR.po
  pylav/locales/es-ES.po
  pylav/locales/fi-FI.po
  pylav/locales/fr-FR.po
  pylav/locales/hi-IN.po
  pylav/locales/hr-HR.po
  pylav/locales/hu-HU.po
  pylav/locales/it-IT.po
  pylav/locales/ja-JP.po
  pylav/locales/ko-KR.po
  pylav/locales/lt-LT.po
  pylav/locales/nb-NO.po
  pylav/locales/nl-NL.po
  pylav/locales/pl-PL.po
  pylav/locales/pt-BR.po
  pylav/locales/ro-RO.po
  pylav/locales/ru-RU.po
  pylav/locales/sv-SE.po
  pylav/locales/th-TH.po
  pylav/locales/tr-TR.po
  pylav/locales/uk-UA.po
  pylav/locales/vi-VN.po
  pylav/locales/zh-CN.po
  pylav/locales/zh-TW.po
Labels: automerge, translations, i18n

#93 New Crowdin translations by Github Action
  pylav/locales/bg-BG.po
  pylav/locales/cs-CZ.po
  pylav/locales/da-DK.po
  pylav/locales/de-DE.po
  pylav/locales/el-GR.po
  pylav/locales/es-ES.po
  pylav/locales/fi-FI.po
  pylav/locales/fr-FR.po
  pylav/locales/hi-IN.po
  pylav/locales/hr-HR.po
  pylav/locales/hu-HU.po
  pylav/locales/it-IT.po
  pylav/locales/ja-JP.po
  pylav/locales/ko-KR.po
  pylav/locales/lt-LT.po
  pylav/locales/nb-NO.po
  pylav/locales/nl-NL.po
  pylav/locales/pl-PL.po
  pylav/locales/pt-BR.po
  pylav/locales/ro-RO.po
  pylav/locales/ru-RU.po
  pylav/locales/sv-SE.po
  pylav/locales/th-TH.po
  pylav/locales/tr-TR.po
  pylav/locales/uk-UA.po
  pylav/locales/vi-VN.po
  pylav/locales/zh-CN.po
  pylav/locales/zh-TW.po
Labels: automerge, translations, i18n
