Repository PyLav/PyLav, pull requests merged in 2023-05, with the labels that each got.

#236 dep update
  poetry.lock
  pyproject.toml
Labels: Category: Admin

#240 New Crowdin translations by GitHub Action
  pylav/extension/bundled_node/locales/bg-BG.po
  pylav/extension/bundled_node/locales/cs-CZ.po
  pylav/extension/bundled_node/locales/da-DK.po
  pylav/extension/bundled_node/locales/de-DE.po
  pylav/extension/bundled_node/locales/el-GR.po
  pylav/extension/bundled_node/locales/es-ES.po
  pylav/extension/bundled_node/locales/fi-FI.po
  pylav/extension/bundled_node/locales/fr-FR.po
  pylav/extension/bundled_node/locales/hi-IN.po
  pylav/extension/bundled_node/locales/hr-HR.po
  pylav/extension/bundled_node/locales/hu-HU.po
  pylav/extension/bundled_node/locales/id-ID.po
  pylav/extension/bundled_node/locales/it-IT.po
  pylav/extension/bundled_node/locales/ja-JP.po
  pylav/extension/bundled_node/locales/ko-KR.po
  pylav/extension/bundled_node/locales/lt-LT.po
  pylav/extension/bundled_node/locales/nb-NO.po
  pylav/extension/bundled_node/locales/nl-NL.po
  pylav/extension/bundled_node/locales/pl-PL.po
  pylav/extension/bundled_node/locales/pt-BR.po
  pylav/extension/bundled_node/locales/ro-RO.po
  pylav/extension/bundled_node/locales/ru-RU.po
  pylav/extension/bundled_node/locales/sv-SE.po
  pylav/extension/bundled_node/locales/th-TH.po
  pylav/extension/bundled_node/locales/tr-TR.po
  pylav/extension/bundled_node/locales/uk-UA.po
  pylav/extension/bundled_node/locales/vi-VN.po
  pylav/extension/bundled_node/locales/zh-CN.po
  pylav/extension/bundled_node/locales/zh-TW.po
Labels: automerge, translations, i18n, Category: i18n

#241 New Crowdin translations by GitHub Action
  pylav/storage/controllers/locales/bg-BG.po
  pylav/storage/controllers/locales/cs-CZ.po
  pylav/storage/controllers/locales/da-DK.po
  pylav/storage/controllers/locales/de-DE.po
  pylav/storage/controllers/locales/el-GR.po
  pylav/storage/controllers/locales/es-ES.po
  pylav/storage/controllers/locales/fi-FI.po
  pylav/storage/controllers/locales/fr-FR.po
  pylav/storage/controllers/locales/hi-IN.po
  pylav/storage/controllers/locales/hr-HR.po
  pylav/storage/controllers/locales/hu-HU.po
  pylav/storage/controllers/locales/id-ID.po
  pylav/storage/controllers/locales/it-IT.po
  pylav/storage/controllers/locales/ja-JP.po
  pylav/storage/controllers/locales/ko-KR.po
  pylav/storage/controllers/locales/lt-LT.po
  pylav/storage/controllers/locales/nb-NO.po
  pylav/storage/controllers/locales/nl-NL.po
  pylav/storage/controllers/locales/pl-PL.po
  pylav/storage/controllers/locales/pt-BR.po
  pylav/storage/controllers/locales/ro-RO.po
  pylav/storage/controllers/locales/ru-RU.po
  pylav/storage/controllers/locales/sv-SE.po
  pylav/storage/controllers/locales/th-TH.po
  pylav/storage/controllers/locales/tr-TR.po
  pylav/storage/controllers/locales/uk-UA.po
  pylav/storage/controllers/locales/vi-VN.po
  pylav/storage/controllers/locales/zh-CN.po
  pylav/storage/controllers/locales/zh-TW.po
Labels: automerge, translations, i18n, Category: i18n

#243 New Crowdin translations by GitHub Action
  pylav/extension/bundled_node/locales/bg-BG.po
  pylav/extension/bundled_node/locales/cs-CZ.po
  pylav/extension/bundled_node/locales/da-DK.po
  pylav/extension/bundled_node/locales/de-DE.po
  pylav/extension/bundled_node/locales/el-GR.po
  pylav/extension/bundled_node/locales/es-ES.po
  pylav/extension/bundled_node/locales/fi-FI.po
  pylav/extension/bundled_node/locales/fr-FR.po
  pylav/extension/bundled_node/locales/hi-IN.po
  pylav/extension/bundled_node/locales/hr-HR.po
  pylav/extension/bundled_node/locales/hu-HU.po
  pylav/extension/bundled_node/locales/id-ID.po
  pylav/extension/bundled_node/locales/it-IT.po
  pylav/extension/bundled_node/locales/ja-JP.po
  pylav/extension/bundled_node/locales/ko-KR.po
  pylav/extension/bundled_node/locales/lt-LT.po
  pylav/extension/bundled_node/locales/nb-NO.po
  pylav/extension/bundled_node/locales/nl-NL.po
  pylav/extension/bundled_node/locales/pl-PL.po
  pylav/extension/bundled_node/locales/pt-BR.po
  pylav/extension/bundled_node/locales/ro-RO.po
  pylav/extension/bundled_node/locales/ru-RU.po
  pylav/extension/bundled_node/locales/sv-SE.po
  pylav/extension/bundled_node/locales/th-TH.po
  pylav/extension/bundled_node/locales/tr-TR.po
  pylav/extension/bundled_node/locales/uk-UA.po
  pylav/extension/bundled_node/locales/vi-VN.po
  pylav/extension/bundled_node/locales/zh-CN.po
  pylav/extension/bundled_node/locales/zh-TW.po
Labels: automerge, translations, i18n

#244 New Crowdin translations by GitHub Action
  pylav/core/locales/bg-BG.po
  pylav/core/locales/cs-CZ.po
  pylav/core/locales/da-DK.po
  pylav/core/locales/de-DE.po
  pylav/core/locales/el-GR.po
  pylav/core/locales/es-ES.po
  pylav/core/locales/fi-FI.po
  pylav/core/locales/fr-FR.po
  pylav/core/locales/hi-IN.po
  pylav/core/locales/hr-HR.po
  pylav/core/locales/hu-HU.po
  pylav/core/locales/id-ID.po
  pylav/core/locales/it-IT.po
  pylav/core/locales/ja-JP.po
  pylav/core/locales/ko-KR.po
  pylav/core/locales/lt-LT.po
  pylav/core/locales/nb-NO.po
  pylav/core/locales/nl-NL.po
  pylav/core/locales/pl-PL.po
  pylav/core/locales/pt-BR.po
  pylav/core/locales/ro-RO.po
  pylav/core/locales/ru-RU.po
  pylav/core/locales/sv-SE.po
  pylav/core/locales/th-TH.po
  pylav/core/locales/tr-TR.po
  pylav/core/locales/uk-UA.po
  pylav/core/locales/vi-VN.po
  pylav/core/locales/zh-CN.po
  pylav/core/locales/zh-TW.po
  pylav/players/locales/bg-BG.po
  pylav/players/locales/cs-CZ.po
  pylav/players/locales/da-DK.po
  pylav/players/locales/de-DE.po
  pylav/players/locales/el-GR.po
  pylav/players/locales/es-ES.po
  pylav/players/locales/fi-FI.po
  pylav/players/locales/fr-FR.po
  pylav/players/locales/hi-IN.po
  pylav/players/locales/hr-HR.po
  pylav/players/locales/hu-HU.po
  pylav/players/locales/id-ID.po
  pylav/players/locales/it-IT.po
  pylav/players/locales/ja-JP.po
  pylav/players/locales/ko-KR.po
  pylav/players/locales/lt-LT.po
  pylav/players/locales/nb-NO.po
  pylav/players/locales/nl-NL.po
  pylav/players/locales/pl-PL.po
  pylav/players/locales/pt-BR.po
  pylav/players/locales/ro-RO.po
  pylav/players/locales/ru-RU.po
  pylav/players/locales/sv-SE.po
  pylav/players/locales/th-TH.po
  pylav/players/locales/tr-TR.po
  pylav/players/locales/uk-UA.po
  pylav/players/locales/vi-VN.po
  pylav/players/locales/zh-CN.po
  pylav/players/locales/zh-TW.po
Labels: automerge, translations, i18n, Category: i18n
